---
import { contentfulClient } from "../lib/contentful";
import type { TypeActiveRedirectsCollectionSkeleton } from "../types/TypeActiveRedirectsCollection";
import type {
  RedirectCollection,
  TypeRedirectSkeleton,
} from "../types/TypeRedirect";
import Layout from "../layouts/LayoutWithoutScripts.astro";


export async function getStaticPaths() {
  const activeRedirectsCollection =
    await contentfulClient.withoutUnresolvableLinks.getEntry<TypeActiveRedirectsCollectionSkeleton>(
      "6LOmPFskfZLIyTYhg3ssgB",
    );

  const allRedirects: RedirectCollection =
    await contentfulClient.withoutUnresolvableLinks.getEntries<TypeRedirectSkeleton>(
      {
        content_type: "redirect",
      },
    );

  const activeRedirects = allRedirects.items.filter((x) =>
    activeRedirectsCollection.fields.redirects.some(
      (y) => y?.fields.slug === x.fields.slug,
    ),
  );

  return activeRedirects.map((x) => ({
    params: { slug: x.fields.slug },
    props: { url: x.fields.url },
  }));
}

const { url } = Astro.props;
---

<script>
  const url = document.getElementById("url")?.dataset.url!;
  window.location.replace(url);
</script>
<span id="url" class="hidden" data-url={url} />
<Layout>
<main class="flex flex-col h-screen justify-center items-center text-white">
  <div class="flex flex-col gap-16 items-center text-center p-4">
    <h1 class="text-2xl md:text-4xl font-bold">Trwa przekierowanie...</h1>
    <p class="max-w-[40ch] font-[Chivo_Mono] text-md md:text-xl text-center">
      Za chwilę zostaniesz przeniesiony na adres {url}
    </p>
  </div>
</main>
</Layout>