---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Studio Hologram</title>
    <meta property="og:title" content="Studio Hologram" />
    <meta
      property="og:description"
      content="Witaj w Studio Hologram. Jesteśmy warszawskim domem produkcyjnym, w którym każdy film nabiera życia.
          Od 6 lat łączymy ludzi i ich historie, które zostawiają ślad. Rozgość się i zobacz nasze rzeczy."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://studiohologram.pl" />
    <meta property="og:image" content="https://studiohologram.pl/ogp.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Aktiv Grotesk Ex";
    text-rendering: geometricPrecision;
    background-color: #030a1d;
  }
</style>
